/*
Theme Name: Trinity
Theme URI: https://github.com/starverte/trinity.git
Author: Star Verte LLC
Description: Child theme of Flint. Theme developed for use with nonprofit organizations, particularly churches.
Version: 0.4.2
License: GPLv3 or later
License URI: LICENSE.md
Tags:
Template: flint

    Copyright 2014 Star Verte LLC (email : dev@starverte.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@import url(../flint/style.css);

/* =Global
----------------------------------------------- */

body {
  padding-top: 0;
  color: #333;
}
a {
  font-weight: 400;
}

@media print {
  #masthead {
    color: #0055c0;
    background: #fff;
  }
  #logo-xs {
    display: block;
  }
  #logo-md {
    display: none;
  }
  .navbar,
  .footer-row {
    display: none;
  }
}


/* =Header
----------------------------------------------- */

#top-pad {
  display: none;
}
#masthead {
  padding: 0;
}
@media screen and (min-width: 992px) {
  #masthead {
    color: #fff;
    background: url("img/water.png");
    background-position-x: center;
    background-position-y: 25%;
  }
}
#masthead .container {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.site-branding {
  line-height: 1;
  color: #0051c3;
  text-align: right;
}
@media screen and (min-width: 992px) {
  .site-branding {
    color: #fff!important;
  }
}
.site-branding h3 {
  margin: 0;
  font-size: 15px;
}
.site-description {
  font-size: 24px;
}
#logo {
  padding: 0;
  margin: 0;
}


/* =Content
----------------------------------------------- */

.page .entry-title,
.single .entry-title {
  margin-top: 0;
}
#primary {
  margin-top: 1em;
  margin-bottom: 1em;
}
.home #primary {
  margin-top: 0;
}
#carousel_splash {
  margin-top: 0;
}
.carousel img {
  padding-top: 0;
  padding-bottom: 0;
}
.sermons .title {
  margin-top: 5px;
  margin-bottom: 5px;
}
.sermon-media .glyphicon {
  font-size: 1.5em;
  text-align: right;
}
.home .carousel-caption {
  font-size: 24px;
}
@media (max-width: 992px) {
  .home .carousel-caption {
    font-size: 36px;
  }
}
#mission {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #fff;
  background: url("img/water.png");
  background-position-x: center;
  background-position-y: 25%;
}
#mission h5 {
  text-transform: uppercase;
}
#next-steps {
  padding-top: 1em;
  padding-bottom: 1em;
}
.ns-caption {
  position: relative;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: #0055c0;
}
.ns:hover .ns-caption,
.ns:focus .ns-caption {
  text-decoration: none;
  background: #003e8d;
}
#church_profile_overlay {
  color: #0055c0;
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
}

/** LifePointe Men Page */
#post-3970 .left h2 {
  font-weight: 600;
  line-height: 1.5em;
  color: #000;
  background: #ecb204;
}
#post-3970 .right h2 {
  font-weight: 600;
  line-height: 1.5em;
  color: #fff;
  background: #660505;
}


/* =Media
----------------------------------------------- */


/* =Navigation
----------------------------------------------- */

.navbar-trinity {
  margin-bottom: 0;
  background-color: #fefefe;
  border: 1px solid #c2c2c2;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.navbar-trinity .navbar-nav > li {
  border-left: 1px solid #c2c2c2;
}
.navbar-trinity .navbar-nav > li > a:hover,
.navbar-trinity .navbar-nav > li > a:focus {
  background-color: #f8f8f8;
}
.navbar-trinity .navbar-nav > .active > a,
.navbar-trinity .navbar-nav > .active > a:hover,
.navbar-trinity .navbar-nav > .active > a:focus {
  background-color: #eee;
}
.navbar-trinity .navbar-nav > .disabled > a,
.navbar-trinity .navbar-nav > .disabled > a:hover,
.navbar-trinity .navbar-nav > .disabled > a:focus {
  background-color: transparent;
}
.navbar-trinity .navbar-toggle {
  border-color: #eee;
}
.navbar-trinity .navbar-toggle:hover,
.navbar-trinity .navbar-toggle:focus {
  background-color: #eee;
}
.navbar-trinity .navbar-toggle .icon-bar {
  background-color: #999;
}
.navbar-trinity .navbar-nav > .open > a,
.navbar-trinity .navbar-nav > .open > a:hover,
.navbar-trinity .navbar-nav > .open > a:focus {
  color: #0055c0;
  background-color: #f2f2f2;
}
@media (max-width: 767px) {
  .navbar-trinity .navbar-nav .open .dropdown-menu > li > a {
    color: #0055c0;
  }
  .navbar-trinity .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-trinity .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: transparent;
  }
  .navbar-trinity .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-trinity .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-trinity .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #d7d7d7;
  }
  .navbar-trinity .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-trinity .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-trinity .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    background-color: transparent;
  }
}
.navbar-trinity .navbar-link {
  color: #777;
}
.navbar-trinity .navbar-link:hover {
  color: #333;
}

/* Specific to LifePointe */
.navbar-trinity .navbar-nav > .blue > a {
  color: #fff;
  background-color: #0055c0;
  border-color: #0055c0;
}
.navbar-trinity .navbar-nav > .blue > a:hover,
.navbar-trinity .navbar-nav > .blue > a:focus {
  color: #fff;
  background-color: #003e8d;
}
.navbar-trinity .navbar-nav > .blue.active > a,
.navbar-trinity .navbar-nav > .blue.active > a:hover,
.navbar-trinity .navbar-nav > .blue.active > a:focus {
  color: #fff;
  background-color: #0055c0;
}


/* =Comments
----------------------------------------------- */


/* =Widgets
----------------------------------------------- */


/* =Footer
----------------------------------------------- */

.footer-row {
  color: #404040;
  background: #f2f2f2;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.footer-row a {
  color: #404040;
}
.footer-row a:hover {
  color: #0055c0;
  text-decoration: none;
}
.footer-row .menu,
.footer-row .sub-menu {
  padding-left: 0;
  list-style: none;
  border: none;
}
.footer-row .sub-menu {
  margin-top: 10px;
}
.footer-row .menu li {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
}
.footer-row .sub-menu li {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.42857143;
}
.affiliated {
  text-align: center;
}
.affiliated img,
.footer-row iframe {
          filter: grayscale(1);

  -webkit-filter: grayscale(1);
     -moz-filter: grayscale(1);
      -ms-filter: grayscale(1);
       -o-filter: grayscale(1);
}
.affiliated img {
  width: auto;
  max-height: 100px;
}
.affiliated:hover img,
iframe:hover {
          filter: grayscale(0);

  -webkit-filter: grayscale(0);
     -moz-filter: grayscale(0);
      -ms-filter: grayscale(0);
       -o-filter: grayscale(0);
}
#colophon {
  margin-top: -62px;
}


/* =Buttons
----------------------------------------------- */
.btn-blue {
  color: #fff;
  background-color: #0055c0;
  border-color: #004aa7;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  color: #fff;
  background-color: #003e8d;
  border-color: #002f69;
}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  background-image: none;
}
.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #0055c0;
  border-color: #004aa7;
}
.btn-blue .badge {
  color: #0055c0;
  background-color: #fff;
}
.btn-gray {
  color: #0055c0;
  background-color: #f8f8f8;
  border-color: #ebebeb;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open > .dropdown-toggle.btn-gray {
  color: #004aa7;
  background-color: #dfdfdf;
  border-color: #cdcdcd;
}
.btn-gray:active,
.btn-gray.active,
.open > .dropdown-toggle.btn-gray {
  background-image: none;
}
.btn-gray.disabled,
.btn-gray[disabled],
fieldset[disabled] .btn-gray,
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled:active,
.btn-gray[disabled]:active,
fieldset[disabled] .btn-gray:active,
.btn-gray.disabled.active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray.active {
  background-color: #f8f8f8;
  border-color: #ebebeb;
}
.btn-gray .badge {
  color: #f8f8f8;
  background-color: #fff;
}


/* =Panels
----------------------------------------------- */
.panel-blue {
  border-color: #0055c0;
}
.panel-blue > .panel-heading {
  color: #fff;
  background-color: #0055c0;
  border-color: #0055c0;
}
.panel-blue > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #0055c0;
}
.panel-blue > .panel-heading .badge {
  color: #0055c0;
  background-color: #fff;
}
.panel-blue > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #0055c0;
}
.panel-blue > .panel-heading a:hover {
  color: #fff;
}
.panel-gray {
  border-color: #d6e9c6;
}
.panel-gray > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-gray > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-gray > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-gray > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}


/* =Japan 2015
----------------------------------------------- */

#carousel_5098 {
  margin-top: -1em;
  margin-bottom: 1em;
}
#carousel_5098 .carousel-caption {
  padding-bottom: 40px;
}
#jp15_josiah_cover {
      filter: FlipH;
  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
       -o-transform: scaleX(-1);
          transform: scaleX(-1);

  -ms-filter: "FlipH";
}
.banner {
  padding-right: 20%;
  padding-left: 20%;
  color: #404040;
  text-align: center;
  background: #f2f2f2;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.banner p {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 32px;
}
#jp-progress {
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
}
#jp-progress .progress-bar {
  font-size: 12px;
  line-height: 40px;
}
